/* ----------- Variables ----------- */
$font-regular: 'Roboto', sans-serif;
$font-slab: 'Roboto Slab', serif;
$font-mono: 'Roboto Mono', monospace;

$black: #151619;
$light-black: #1D1F22;
$dark-grey: #2B2D31;
$medium-dark-grey: #35393F;
$medium-grey: #5A6069;
$medium-light-grey: #7C8187;
$grey: #C1C4CB;
$light-grey: #E4E4E4;
$very-light-grey: #F5F5F5;
$white: #FFFFFF;

$red-orange: #E46643;
$orange: #F39765;